version: "3.9"

services: 
  client:
    build: ./client
    depends_on:
      - server
    ports:
      - "3000:3000"

      
  server:
    build: ./server
    ports:
      - "4000:4000"
  
    environment:
      PORT: ${PORT}

    depends_on:
      - db
      
      
  db:
    image: postgres:15-alpine
    environment:
       POSTGRES_USER: ${POSTGRES_USER}
       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
       POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data  




volumes:
  pgdata: 