version: "3.9"

services: 
  client:
    build: ./client
    depends_on:
      - server
    ports:
      - "3000:3000"
    networks:
      - frontend
    volumes:
      - ./client:/client
      - /client/node_modules        

      
  server:
    build: ./server
    ports:
      - "4000:4000"
  
    environment:
      PORT: ${PORT}

    depends_on:
      - db
    networks:
      - frontend 
      - backend    
    volumes:
      - ./server:/server
      - /server/node_modules      

      
      
  db:
    image: postgres:17-alpine
    environment:
       POSTGRES_USER: ${POSTGRES_USER}
       POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
       POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data  
    networks:
      - backend    




volumes:
  pgdata: 

networks:
  frontend:
  backend:  